#pb-speed-control-panel {
  width: 320px;
  position: absolute;
  background: rgb(24, 24, 24);
  border: 1px solid rgb(40, 40, 40);
  padding: 8px 0px;
}

#pb-speed-slider {
  width: 100%;
  line-height: 32px;
  height: 32px;
  margin: 0px 12px;
}

#pb-speed-controls-wrapper {
  height: 32px;
  width: 32px;
  text-align: center;
}

#pb-settings-display {
  display: block;
  margin-top: -10px;
  font-size: 11px;
}

.pb-settings-hover:hover {
  color: #FFF
}
